.mainSecHeadText {
	font-size: 16px;
	font-weight: 500;
	height: 17px;
	line-height: 17px;
	margin: 24px 0 18px;
	display: flex;

	> .label {
		flex :1;
		text-transform: capitalize;
	}

	>.more{
		font-size: 14px;
		color: #666;

		&:hover{
			color: #333;
			text-decoration: underline;
		}
	}
}

.redCap {
	display: inline-block;
	vertical-align: bottom;
	width: 4px;
	height: 14px;
	margin-right: 10px;
	background: #ac2b3b;
	box-shadow: 0px 2px 4px 0px rgba(220, 30, 15, 0.59);
	border-radius: 2px;
}
