.logo[data-v-fe866352]{aspect-ratio:16/9;width:160px;border-radius:10px;padding:20px;background-repeat:no-repeat;background-clip:content-box;background-size:contain;background-position:center center}
