@import '@/common/styleVars.scss';

// page classes

.newsItem{
    width: 100%;

    .avatar{
		@include wrapGridItem(10, 7);
		width: 100px;
        height: 70px;
    }

    .title{
        font-weight: 600;
    }
    
    .content{
        @extend .text_gray;
    }
}