@import '@/common/styleVars.scss';

.outer {
	flex: 1;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.padding {
	flex: 1;
	padding: 30px 40px;
	// margin-bottom: 120px;
}

.form {
	flex: 300px;
	// background-color: aqua;
	padding: 0 65px;
	overflow: auto;

	> h1 {
		margin-bottom: 1em;
	}

	.registTip {
		text-align: center;
	}
	a {
		color: #333;
		&:hover {
			text-decoration: underline;
		}
	}
}

.signPic{
	@include wrapGridItem(335, 136);
	width: 100%;
	margin-bottom: 10px;
}