@import '@/common/styleVars.scss';

// page classes

.cardSpeaker {
	color: #222;
	width: 100%;

	> div {
		text-align: left;
	}

	> img {
		aspect-ratio: 1;
		width: 100%;
		border-radius: 4px;
	}
	> .title {
		font: {
			size: 16px;
			weight: 500;
		}
		@include clipText(1, 2em);
	}
	> .content {
		font-size: 14px;
		padding-right: 20px;
		color: #888;
		@include clipText(1);
	}
}

